@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background: #000;
  color: white;
  font-family: 'Sansita Swashed', cursive;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 100%;
  height: 100vh;
}
.container{
  width: 500px;
  height: 250px;
  flex-direction: column;
}
.container h2{
  font-size: 5rem;
  margin: 35px;
}
button{
  width: 150px;
  height: 40px;
  font-size: 1rem;
  color: white;
  background: #000;
  outline: none;
  border: none;
  cursor: pointer;
  background: #8e2de2; 
  font-family: 'Sansita Swashed', cursive;
  background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); 
  background: linear-gradient(to right, #8e2de2, #4a00e0); 
  -webkit-box-reflect: below 5px linear-gradient(transparent,#0004);
}